$os = 'Arial'
$montserratR = 'Montserrat-Regular'
$montserratM = 'Montserrat-Medium'
$montserratB = 'Montserrat-Bold'
$russoOne = 'RussoOne' 

$black = #000
$opacityGray = rgba(226, 232, 240, 0.5)
$gray = #2B333D
$aquaBlue = #28BCE4
$white = #FFFFFF
$shadow = rgba(0, 0, 0, 0.2)
$opacityFull = rgba(0, 0, 0, 0) 

$mobile = '(max-width:660px)'
$desktop = '(min-width:661px)'
$desktopMd = '(min-width:768px)'
$desktopLg = '(min-width:1024px)'


$ios = '(-webkit-overflow-scrolling: touch)'

$ie = 'screen and (-ms-high-contrast: active), (-ms-high-contrast: none)'